<h2 class="section-title" style="padding: 30px;">Gallery</h2>
<div class="row mx-1 portfolio-container" style="margin: 10px;" >
    <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item first"  *ngFor="let item of dataSource;index as i" >
        <div class="position-relative overflow-hidden" style="padding: 25px;">
            <div class="portfolio-img d-flex align-items-center justify-content-center">
                <img class="img-fluid" src={{item.galleryFileName}} alt="">
            </div>
            <!-- <div class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                <h4 class="text-white mb-4">{{item.galleryName}}</h4>
                <div class="d-flex align-items-center justify-content-center">
                   
                </div>
            </div> -->
        </div>
    </div>
    </div>